.main-info {
  display: flex;
  position: absolute;
  color: var(--font-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif !important;
  z-index: 1;
}