@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
.App {
  font-family: 'Nunito', sans-serif;
}

:root {
  --nav-color: hsl(210, 11%, 15%);
  --light-color: hsl(209, 100%, 92%);
  --font-color: hsl(0, 0%, 100%);
  --font-color-hover: hsl(0, 0%, 90%) 
}

.main-info {
  display: flex;
  position: absolute;
  color: var(--font-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif !important;
  z-index: 1;
}
/* -------------NAVIGATION------------------ */
.navigation__container {
  background-color: var(--nav-color);
  color: white;
}
/* name color */
.navbar-light 
.navbar-brand {
  color: var(--font-color) !important;
}
/* links color */
.navbar-nav 
.nav-link {
  color: var(--font-color) !important;
}
/* dropdown menu */
.navbar-light 
.navbar-toggler-icon {
  filter: invert(1);
}

/* --------------ABOUUT ME------------------- */

.about__container {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about__container img {
  border-radius: 50%;
  border: 0.5px solid rgb(218, 218, 218);
  margin-bottom: 1rem;
}

.about__text {
  max-width: 600px;
}

/* ---------------TECHNOLOGIES-------------- */
.technologies__container {
  background-color: var(--light-color);
  color: var(--nav-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.tech__icons {
  height: 70px;
  background-color: var(--light-color);
  border-radius: 50%;
}

.tech__cards__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 1rem 0;
}

.tech__card {
  width: 15rem;
  height: 10rem;
  background-color: var(--font-color);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border-bottom: 5px solid var(--nav-color);
}

.tech__card:hover {
  background-color: var(--font-color-hover);
}

/* -----------MEDIA QUERIES--------------- */

/* +++++++++++++++ABOUT+++++++++++++++++++ */
@media only screen and (max-width: 900px){
  .about__container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 700px){
  .about__text {
    max-width: 300px;
  }
}
